@charset "UTF-8";
:root {
  --header-primary-title-color: #212121;
  --primary-text-icon-color: #757575;
  --accent-color: #2196f3;
  --main-background-color-second-text-color: #ffffff;
  --first-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --hover-btn-color: #188ce8;
  --border-header-color: #ececec;
  --border-portfolio-color: #eeeeee;
  --icon-color-second: #afb1b8;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
  --background-color-overly: rgba(33, 150, 243, 0.9);
  --background-color-backdrop: rgba(0, 0, 0, 0.2);
  --box-shadow-modal-first: rgba(0, 0, 0, 0.12);
  --box-shadow-modal-second: rgba(0, 0, 0, 0.14);
  --border-color-modal: rgba(0, 0, 0, 0.1);
  --border-color-form: rgba(33, 33, 33, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --box-shadow-form-footer: rgba(0, 0, 0, 0.15);
  --activity-description-background: rgba(47, 48, 58, 0.8);
  --form-input-border: rgba(47, 48, 58, 0.8);
  --footer-social-background: rgba(255, 255, 255, 0.1);
  --adress-mail-tel-footer-color: rgba(255, 255, 255, 0.6);
  --gradient-color: rgba(47, 48, 58, 0.4);
  --box-shadow-color-third: rgba(0, 0, 0, 0.06);
  --box-shadow-color-fourth: rgba(0, 0, 0, 0.16);
  --box-shadow-color-fifth: rgba(0, 0, 0, 0.08);
  --border-color-footer-form: rgba(255, 255, 255, 0.3);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  background-color: var(--main-background-color-second-text-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-primary-title-color);
}

.logo__part {
  color: var(--accent-color);
}

.social-media-item {
  width: 44px;
  height: 44px;
}

.social-media-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--icon-color-second);
  transition: background-color var(--time) var(--cubic), color var(--time) var(--cubic);
}

.social-link:hover {
  color: var(--main-background-color-second-text-color);
  background-color: var(--accent-color);
}

.social-link:focus {
  color: var(--main-background-color-second-text-color);
  background-color: var(--accent-color);
}

.social-media-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.section-title {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: var(--background-color-backdrop);
  opacity: 1;
  transition: opacity var(--time) var(--cubic), visibility var(--time) var(--cubic);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--time) var(--cubic), visibility var(--time) var(--cubic);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
  transition: transform var(--time) var(--cubic);
}

.modal {
  position: absolute;
  min-width: 528px;
  left: 50%;
  top: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--time) var(--cubic);
  background: var(--main-background-color-second-text-color);
  box-shadow: 0px 1px 3px var(--box-shadow-modal-first), 0px 1px 1px var(--box-shadow-modal-second), 0px 2px 1p var(--background-color-backdrop);
  border-radius: 4px;
}

.modal-close-icon {
  fill: currentColor;
}

.modal-button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid var(--border-color-modal);
  border-radius: 50%;
  background: var(--main-background-color-second-text-color);
  color: var(--header-primary-title-color);
  transition: color var(--time) var(--cubic);
  cursor: pointer;
}

.modal-button-close:hover {
  color: var(--accent-color);
}

.modal-button-close:focus {
  color: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--header-primary-title-color);
}

.modal-form-field {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-icon-color);
}

.margine-massage {
  margin-bottom: 20px;
}

.modal-form-input {
  padding-left: 42px;
  color: var(--header-primary-title-color);
  width: 100%;
  height: 40px;
  border: 1px solid var(--border-color-form);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color var(--time) var(--cubic);
}

.modal-form-input:hover {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-block {
  display: block;
  position: relative;
  color: var(--header-primary-title-color);
  height: 40px;
  margin-top: 4px;
}

.modal-form-input:hover + .modal-form-icon,
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-icon {
  display: block;
  color: var(--header-primary-title-color);
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--time) var(--cubic);
}

.modal-form-btn {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;
  min-width: 200px;
  min-height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-background-color-second-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px var(--box-shadow-form-footer);
  transition: background-color var(--time) var(--cubic);
}

.modal-form-btn:hover {
  background-color: var(--hover-btn-color);
}

.modal-form-btn:focus {
  background-color: var(--hover-btn-color);
}

.modal-form-massage {
  margin-top: 4px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid var(--border-color-form);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color var(--time) var(--cubic);
}

.modal-form-massage:hover {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-massage:focus {
  outline: none;
  border-color: var(--accent-color);
}

/*Использую так потому, что добавила placeholder и в остальные поля */
::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-icon-color);
}

.modal-form-checkbox-label::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 1px solid var(--header-primary-title-color);
  border-radius: 4px;
  background-color: var(--main-background-color-second-text-color);
  background-image: url(../images/svg/Vector.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: background-image var(--time) var(--cubic), border-color var(--time) var(--cubic);
}

.modal-form-checkbox-link {
  color: var(--accent-color);
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../images/svg/icon-check.svg);
}

.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  border-color: var(--accent-color);
}

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--main-background-color-second-text-color);
  z-index: 2;
  border-bottom: 1px solid var(--border-header-color);
  padding-top: 24px;
  padding-bottom: 25px;
}

.header__container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 93px;
}

.menu {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav__menu-list {
  display: flex;
}

.nav__menu-item:not(:last-child) {
  margin-right: 50px;
}

.header__contact-list {
  display: flex;
  margin-left: auto;
}

.header__contact-item:not(:last-child) {
  margin-right: 50px;
}

.nav__menu-link {
  color: var(--header-primary-title-color);
  position: relative;
  transition: color var(--time) var(--cubic);
  padding-bottom: 32px;
  padding-top: 32px;
}

.nav__menu-link:hover {
  color: var(--accent-color);
}

.nav__menu-link:focus {
  color: var(--accent-color);
}

.nav__menu-link-current::after {
  position: absolute;
  bottom: 0;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.header__mail,
.header__tel {
  display: flex;
  align-items: center;
  color: var(--primary-text-icon-color);
  transition: color var(--time) var(--cubic);
}

.header__mail:hover,
.header__tel:hover {
  color: var(--accent-color);
}

.header__mail:focus,
.header__tel:focus {
  color: var(--accent-color);
}

.header__contact-item {
  display: flex;
}

.icon {
  margin-right: 10px;
  fill: var(--primary-text-icon-color);
}

.header__mail-icon {
  height: 12px;
  width: 16px;
  fill: currentColor;
}

.header__tel-icon {
  height: 16px;
  width: 10px;
  fill: currentColor;
}

.section-hero {
  text-align: center;
  max-width: 1600px;
  height: 600px;
  background-color: var(--first-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)), url("../images/2/teamwork.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-hero-container {
  width: 696px;
  margin: 0 auto;
  padding-left: 45px;
  padding-right: 45px;
}

.main-title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-background-color-second-text-color);
}

.main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 50px;
  min-width: 200px;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-background-color-second-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px var(--box-shadow-form-footer);
  transition: background-color var(--time) var(--cubic);
}

.main-btn:hover {
  background-color: var(--hover-btn-color);
}

.main-btn:focus {
  background-color: var(--hover-btn-color);
}

.item-benefits {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.list-benefits {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.list-title-benefits {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: var(--header-primary-title-color);
}

.text-benefits {
  letter-spacing: 0.03em;
  color: var(--primary-text-icon-color);
}

.benefits-block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background-color: var(--third-background-color);
  border-radius: 4px;
}

.benefits-icons {
  width: 70px;
  height: 70px;
}

.activity-section {
  padding-top: 0;
}

.item-activity {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.activity-img {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  position: relative;
}

.activity-description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background: var(--activity-description-background);
  position: absolute;
  bottom: 0;
}

.text-activity-description {
  font-weight: bold;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background-color-second-text-color);
}

.team-seaction {
  background-color: var(--third-background-color);
}

.item-team {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.team-card {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  box-shadow: 0px 1px 3px var(--box-shadow-modal-first), 0px 1px 1px var(--box-shadow-modal-second), 0px 2px 1px var(--background-color-backdrop);
  border-radius: 0px 0px 4px 4px;
}

.staff {
  width: 270px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--main-background-color-second-text-color);
}

.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--header-primary-title-color);
}

.team-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-icon-color);
}

.social-media {
  display: flex;
  justify-content: center;
}

.our-clients-list {
  display: flex;
}

.our-clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color-second);
  border-radius: 4px;
  color: var(--icon-color-second);
  transition: border-color var(--time) var(--cubic), color var(--time) var(--cubic);
}

.our-clients-link:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.our-clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.our-clients-item:not(:last-child) {
  margin-right: 30px;
}

.our-clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.address {
  display: block;
  font-style: normal;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--first-background-color);
}

.footer-flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  color: var(--main-background-color-second-text-color);
}

.adress-list:not(:last-child) {
  margin-bottom: 9px;
}

.adress-area {
  color: var(--main-background-color-second-text-color);
  transition: color var(--time) var(--cubic);
}

.adress-area:hover {
  color: var(--accent-color);
}

.adress-area:focus {
  color: var(--accent-color);
}

.adress-mail,
.adress-tel {
  color: var(--adress-mail-tel-footer-color);
  transition: color var(--time) var(--cubic);
}

.adress-mail:hover,
.adress-tel:hover {
  color: var(--accent-color);
}

.adress-mail:focus,
.adress-tel:focus {
  color: var(--accent-color);
}

/*форма*/
.footer-title {
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background-color-second-text-color);
}

.footer-icon {
  fill: var(--main-background-color-second-text-color);
}

.footer-social-item {
  border-radius: 50%;
  background-color: var(--footer-social-background);
}

.footer-social-media-list {
  display: flex;
}

.form-footer {
  display: flex;
}

.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
  min-width: 200px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-background-color-second-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px, 4px, 4px var(--box-shadow-form-footer);
  transition: background-color var(--time) var(--cubic);
}

.form-btn:hover {
  background-color: var(--hover-btn-color);
}

.form-btn:focus {
  background-color: var(--hover-btn-color);
}

.form-input {
  padding: 16px;
  min-width: 358px;
  margin-right: 12px;
  border: 1px solid var(--border-color-footer-form);
  background-color: transparent;
  box-sizing: border-box;
  filter: drop-shadow(0px, 4px, 4px var(--box-shadow-form-footer));
  border-radius: 4px;
  cursor: pointer;
  color: var(--main-background-color-second-text-color);
}

.form-input:hover {
  border-color: var(--accent-color);
}

.form-input:focus {
  border-color: var(--accent-color);
}

.form-footer-icon {
  fill: var(--main-background-color-second-text-color);
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.item-menu-filters {
  display: block;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.menu-list-filters:not(:last-child) {
  margin-right: 8px;
}

.btn-filters {
  display: block;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--header-primary-title-color);
  cursor: pointer;
  transition: background-color var(--time) var(--cubic), color var(--time) var(--cubic), box-shadow var(--time) var(--cubic);
}

.btn-filters:hover {
  color: var(--main-background-color-second-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px var(--border-color-modal), 0px 1px 2px var(--box-shadow-color-fifth), 0px 2px 2px var(--box-shadow-modal-first);
}

.btn-filters:focus {
  color: var(--main-background-color-second-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px var(--border-color-modal), 0px 1px 2px var(--box-shadow-color-fifth), 0px 2px 2px var(--box-shadow-modal-first);
}

.item-projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.list-projects {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.link-project-hover {
  display: block;
  transition: box-shadow var(--time) var(--cubic);
}

.link-project-hover:hover {
  box-shadow: 0px 1px 1px var(--box-shadow-modal-first), 0px 4px 4px var(--box-shadow-color-third), 1px 4px 6px var(--box-shadow-color-fourth);
}

.link-project-hover:hover .project-overly {
  transform: translateY(0);
}

.link-project-hover:focus {
  box-shadow: 0px 1px 1px var(--box-shadow-modal-first), 0px 4px 4px var(--box-shadow-color-third), 1px 4px 6px var(--box-shadow-color-fourth);
}

.link-project-hover:focus .project-overly {
  transform: translateY(0);
}

.title-img {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-primary-title-color);
}

.project-description {
  padding: 20px 24px 20px;
  border: 1px solid var(--border-portfolio-color);
  border-top: none;
}

.text-projects {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-icon-color);
}

.project-block {
  position: relative;
  overflow: hidden;
}

.project-overly {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--background-color-overly);
  transform: translateY(100%);
  transition: transform var(--time) var(--cubic);
}

.project-overly-text {
  width: 328px;
  height: 168px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-background-color-second-text-color);
}
/*# sourceMappingURL=main.css.map */