.address {
  display: block;
  font-style: normal;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--first-background-color);
}

.footer-flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  color: var(--main-background-color-second-text-color);
}

.adress-list:not(:last-child) {
  margin-bottom: 9px;
}

.adress-area {
  color: var(--main-background-color-second-text-color);
  transition: color var(--time) var(--cubic);
  &:hover {
    color: var(--accent-color);
  }
  &:focus {
    color: var(--accent-color);
  }
}

.adress-mail,
.adress-tel {
  color: var(--adress-mail-tel-footer-color);
  transition: color var(--time) var(--cubic);
  &:hover {
    color: var(--accent-color);
  }
  &:focus {
    color: var(--accent-color);
  }
}

/*форма*/
.footer-title {
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-background-color-second-text-color);
}
.footer-icon {
  fill: var(--main-background-color-second-text-color);
}
.footer-social-item {
  border-radius: 50%;
  background-color: var(--footer-social-background);
}
.footer-social-media-list {
  display: flex;
}
.form-footer {
  display: flex;
}

.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
  min-width: 200px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-background-color-second-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px, 4px, 4px var(--box-shadow-form-footer);
  transition: background-color var(--time) var(--cubic);
  &:hover {
    background-color: var(--hover-btn-color);
  }
  &:focus {
    background-color: var(--hover-btn-color);
  }
}

.form-input {
  padding: 16px;
  min-width: 358px;
  margin-right: 12px;
  border: 1px solid var(--border-color-footer-form);
  background-color: transparent;
  box-sizing: border-box;
  filter: drop-shadow(0px, 4px, 4px var(--box-shadow-form-footer));
  border-radius: 4px;
  cursor: pointer;
  color: var(--main-background-color-second-text-color);
  &:hover {
    border-color: var(--accent-color);
  }
  &:focus {
    border-color: var(--accent-color);
  }
}
.form-footer-icon {
  fill: var(--main-background-color-second-text-color);
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
