.section-hero {
  text-align: center;
  max-width: 1600px;
  height: 600px;
  background-color: var(--first-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)),
    url("../images/2/teamwork.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-hero-container {
  width: 696px;
  margin: 0 auto;
  padding-left: 45px;
  padding-right: 45px;
}
.main-title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-background-color-second-text-color);
}

.main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 50px;
  min-width: 200px;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-background-color-second-text-color);

  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px var(--box-shadow-form-footer);
  transition: background-color var(--time) var(--cubic);
  &:hover {
    background-color: var(--hover-btn-color);
  }
  &:focus {
    background-color: var(--hover-btn-color);
  }
}
