.item-menu-filters {
  display: block;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.menu-list-filters:not(:last-child) {
  margin-right: 8px;
}

.btn-filters {
  display: block;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--header-primary-title-color);
  cursor: pointer;
  transition: background-color var(--time) var(--cubic), color var(--time) var(--cubic),
    box-shadow var(--time) var(--cubic);
  &:hover {
    color: var(--main-background-color-second-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px var(--border-color-modal), 0px 1px 2px var(--box-shadow-color-fifth),
      0px 2px 2px var(--box-shadow-modal-first);
  }
  &:focus {
    color: var(--main-background-color-second-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px var(--border-color-modal), 0px 1px 2px var(--box-shadow-color-fifth),
      0px 2px 2px var(--box-shadow-modal-first);
  }
}
