.item-projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.list-projects {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.link-project-hover {
  display: block;
  transition: box-shadow var(--time) var(--cubic);
  &:hover {
    box-shadow: 0px 1px 1px var(--box-shadow-modal-first), 0px 4px 4px var(--box-shadow-color-third),
      1px 4px 6px var(--box-shadow-color-fourth);
    .project-overly {
      transform: translateY(0);
    }
  }
  &:focus {
    box-shadow: 0px 1px 1px var(--box-shadow-modal-first), 0px 4px 4px var(--box-shadow-color-third),
      1px 4px 6px var(--box-shadow-color-fourth);
    .project-overly {
      transform: translateY(0);
    }
  }
}

.title-img {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-primary-title-color);
}

.project-description {
  padding: 20px 24px 20px;
  border: 1px solid var(--border-portfolio-color);
  border-top: none;
}

.text-projects {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-icon-color);
}

.project-block {
  position: relative;
  overflow: hidden;
}

.project-overly {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--background-color-overly);
  transform: translateY(100%);
  transition: transform var(--time) var(--cubic);
}
.project-overly-text {
  width: 328px;
  height: 168px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main-background-color-second-text-color);
}
