.team-seaction {
  background-color: var(--third-background-color);
}
.item-team {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}
.team-card {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  box-shadow: 0px 1px 3px var(--box-shadow-modal-first), 0px 1px 1px var(--box-shadow-modal-second),
    0px 2px 1px var(--background-color-backdrop);
  border-radius: 0px 0px 4px 4px;
}
.staff {
  width: 270px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--main-background-color-second-text-color);
}
.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--header-primary-title-color);
}

.team-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-icon-color);
}
.social-media {
  display: flex;
  justify-content: center;
}
