.modal {
  position: absolute;
  min-width: 528px;
  left: 50%;
  top: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--time) var(--cubic);
  background: var(--main-background-color-second-text-color);
  box-shadow: 0px 1px 3px var(--box-shadow-modal-first), 0px 1px 1px var(--box-shadow-modal-second),
    0px 2px 1p var(--background-color-backdrop);
  border-radius: 4px;
}
.modal-close-icon {
  fill: currentColor;
}

.modal-button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid var(--border-color-modal);
  border-radius: 50%;
  background: var(--main-background-color-second-text-color);
  color: var(--header-primary-title-color);
  transition: color var(--time) var(--cubic);
  cursor: pointer;
  &:hover {
    color: var(--accent-color);
  }
  &:focus {
    color: var(--accent-color);
  }
}
