.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;

  color: var(--header-primary-title-color);
}
.modal-form-field {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-icon-color);
}
.margine-massage {
  margin-bottom: 20px;
}
.modal-form-input {
  padding-left: 42px;

  color: var(--header-primary-title-color);
  width: 100%;
  height: 40px;
  border: 1px solid var(--border-color-form);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color var(--time) var(--cubic);

  &:hover {
    outline: none;
    border-color: var(--accent-color);
  }
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}
.modal-form-block {
  display: block;
  position: relative;
  color: var(--header-primary-title-color);
  height: 40px;
  margin-top: 4px;
}
.modal-form-input {
  &:hover + .modal-form-icon,
  &:focus + .modal-form-icon {
    fill: var(--accent-color);
  }
}

.modal-form-icon {
  display: block;
  color: var(--header-primary-title-color);
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--time) var(--cubic);
}
.modal-form-btn {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: none;
  min-width: 200px;
  min-height: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-background-color-second-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px var(--box-shadow-form-footer);
  transition: background-color var(--time) var(--cubic);
  &:hover {
    background-color: var(--hover-btn-color);
  }
  &:focus {
    background-color: var(--hover-btn-color);
  }
}

.modal-form-massage {
  margin-top: 4px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid var(--border-color-form);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color var(--time) var(--cubic);
  &:hover {
    outline: none;
    border-color: var(--accent-color);
  }
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}
/*Использую так потому, что добавила placeholder и в остальные поля */
::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}
